In [1]:
import pandas as pd
import numpy as np
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.model_selection import GridSearchCV
import matplotlib.pyplot as plt

In [2]:
# Read the dataset from the CSV file called 'Co2_Data.csv' and store it in a DataFrame called df
df = pd.read_csv('CO2_Data.csv')
df

        CO2  Year&Month  Year  Month
0    333.13     1974.38  1974      5
1    332.09     1974.46  1974      6
2    331.10     1974.54  1974      7
3    329.14     1974.63  1974      8
4    327.36     1974.71  1974      9
..      ...         ...   ...    ...
156  351.71     1987.38  1987      5
157  350.94     1987.46  1987      6
158  349.10     1987.54  1987      7
159  346.77     1987.63  1987      8
160  345.73     1987.71  1987      9

[161 rows x 4 columns]

In [3]:
df.set_index(['Year&Month', 'Year', 'Month'], inplace=True)
co2_data = df['CO2']

In [4]:
# Define the sliding window size
window_size = 3  # Adjust as needed

In [5]:
# Generate training samples and targets
X = []
y = []
for i in range(len(df) - window_size):
    X.append(df.iloc[i:i+window_size]['CO2'].values)
    y.append(df.iloc[i+window_size]['CO2'])
X = np.array(X)
y = np.array(y)

In [6]:
# Split the data into training and test sets (80% for training, 20% for testing)
train_size = int(0.8 * len(X))
X_train, X_test = X[:train_size], X[train_size:]
y_train, y_test = y[:train_size], y[train_size:]

In [7]:
# Create the SVR model
model = SVR()

In [8]:
# Define the hyperparameters and their possible values
param_grid = {
    'kernel': ['linear', 'poly', 'rbf'],
    'C': [0.1, 1, 10],
    'gamma': [0.1, 1, 10]
}

In [ ]:
# Create an instance of GridSearchCV and fit it to the training data
grid_search = GridSearchCV(model, param_grid, cv=3, scoring='neg_mean_squared_error')
grid_search.fit(X_train, y_train)

In [ ]:
# Retrieve the best model from the grid search
best_model = grid_search.best_estimator_

In [ ]:
# Make predictions using the best model
y_pred = best_model.predict(X_test)

In [ ]:
# Calculate MSE and MAE
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
print("Mean Squared Error (MSE):", mse)
print("Mean Absolute Error (MAE):", mae)