In [16]:
#First, let's start by importing the necessary libraries:
import pandas as pd
import numpy as np
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, mean_absolute_error
import matplotlib.pyplot as plt

In [17]:
# Read the dataset from the CSV file called 'Co2_Data.csv' and store it in a DataFrame called df
df = pd.read_csv('CO2_Data.csv')
df

        CO2  Year&Month  Year  Month
0    333.13     1974.38  1974      5
1    332.09     1974.46  1974      6
2    331.10     1974.54  1974      7
3    329.14     1974.63  1974      8
4    327.36     1974.71  1974      9
..      ...         ...   ...    ...
156  351.71     1987.38  1987      5
157  350.94     1987.46  1987      6
158  349.10     1987.54  1987      7
159  346.77     1987.63  1987      8
160  345.73     1987.71  1987      9

[161 rows x 4 columns]

In [18]:
# let'set the Year&Month, Year, and Month as an index
df.set_index(['Year&Month', 'Year', 'Month'], inplace=True)
co2_data = df['CO2']

In [19]:
# Define the sliding window size
window_size = 3  # Adjust as needed

    X variable is an empty list that will store the training samples. Each training sample is a sequence of window_size consecutive values of the 'CO2' feature from your dataset.

    y variable is an empty list that will store the corresponding targets for each training sample. Each target is the 'CO2' value that follows the sequence of values in the training sample.

    for loop: The loop iterates from 0 to len(df) - window_size - 1. It generates the training samples and targets by slicing the 'CO2' values from the DataFrame.

    X.append(): In each iteration of the loop, it appends a training sample to the X list. The training sample is obtained by using df.iloc[i:i+window_size]['CO2'].values, which slices the 'CO2' values from index i to i+window_size-1 (inclusive) and converts them to a NumPy array.

    y.append(): In each iteration of the loop, it appends the corresponding target to the y list. The target is the 'CO2' value at index i+window_size in the DataFrame.

    np.array(): After the loop, the X and y lists are converted to NumPy arrays using np.array() to prepare them for training the model.

In summary, this part of the code creates training samples by selecting window_size consecutive values of the 'CO2' feature as input (X) and their corresponding 'CO2' values as the target (y). These training samples and targets will be used to train the SVR model later in the code

In [20]:
# Generate training samples and targets
X = []
y = []
for i in range(len(df) - window_size):
    X.append(df.iloc[i:i+window_size]['CO2'].values)
    y.append(df.iloc[i+window_size]['CO2'])
X = np.array(X)
y = np.array(y)

In [21]:
# Split the data into training and test sets (80% for training, 20% for testing)
train_size = int(0.8 * len(X))
X_train, X_test = X[:train_size], X[train_size:]
y_train, y_test = y[:train_size], y[train_size:]

In [22]:
# Create the SVM model
model = SVR()

 SVM (Support Vector Machine) and SVR (Support Vector Regression) models are different in their purpose and application.
 
 SVM is used for classification tasks, aiming to find an optimal hyperplane that maximally separates data points of different classes. It can handle linearly and non-linearly separable datasets using various kernel functions. On the other hand, SVR is used for regression tasks, aiming to find an optimal hyperplane that best fits the data points within a specified margin. SVR predicts a continuous target variable and can handle linear and non-linear relationships using different kernel functions. While both models utilize support vectors and optimization techniques, their objectives and output formats differ: SVM provides discrete class labels, while SVR provides continuous predictions for the target variable.

In summary, SVM is used for classification tasks to separate data points into different classes, while SVR is used for regression tasks to predict a continuous target variable. Both SVM and SVR use the concept of support vectors and optimization techniques, but they have different objectives and output formats.

In [24]:
# Train the model
model.fit(X_train, y_train)

SVR()

In [25]:
# Make forecasting
y_pred = model.predict(X_test)

In [26]:
# Calculate MSE and MAE
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
print("Mean Squared Error (MSE):", mse)
print("Mean Absolute Error (MAE):", mae)

Mean Squared Error (MSE): 32.497825769602485
Mean Absolute Error (MAE): 4.890438273217171